body{
    background-color: white;
    margin: 0px;
    height: 100%;
}

#top-container{
    height:150px;
}


.topnav { overflow: hidden;
          background-color: #303030;
          margin-top: 0px;
          padding: 20px;
          text-align: center;
         
}

.topnav a{ 
    float: right;
    color: white;
    padding: 14px;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
          
}

.topnav a.name{
    float: left;
    font-size: 28px;
    padding-left: 120px;
    font-family: Georgia;
}

hr{
    background-color: royalblue;
    height: 4px;
    border-width: 0px;
    margin: auto;

}
 #para1{
    color: royalblue;
 }

 img{
    height: 430px;
    width: 100%;
 }

 .para-wrapper{
    text-align: center;
    bottom: 320px;
    position: relative;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 h1{
    font-size: 40px;
 }
 .btn-blue {
    background-color: royalblue;
    color: white;
    margin: 65px;
    padding: 12px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 3px 2px;
    cursor: pointer;
}

.para2{
    background-color: 	#303030;
    color: white ;
    height: 75px;
    margin: auto;
    bottom: 225px;
    position: relative;
    padding: 5px 10px 5px 140px; 
}
.form-group{
    background-color: 	#303030;
    width: 30%;
    left: 855px;
    position: relative;
    bottom: 310px;
    height: 20px;
    text-align: center;
    padding: 20px;
    display: inline-block;
    cursor: pointer;
    width: 25%;
}

h3{
    text-align: center;
    bottom: 290px;
    position: relative;
    font-size: 25px;
}

.table-images{
    height: 150px;
    width: 150px;
}
.table-container{
    text-align: center;
    font-size: 17px;
    width: 90%;
    margin: auto;
    bottom: 290px;
    position: relative;
}

#para3{
    font-weight: bold;
    font-size: 20px;
}
.para4{
    background-color: royalblue;
    text-align: center;
    height: 60px;
    color: white;
    padding: 3px;
    position: relative;
    bottom: 270px;
}